#firefox {
  transition-duration: 3s;
  transition-property: transform;
}

#firefox:hover {
  transform: scale(2) rotate(180deg) translate(-100%, 100%);
}

div {
  position: relative;
}

h1 {
  position: absolute;
  animation-name: test;
  animation-duration: 3s;
}

@keyframes test {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}